# Environments
.venv/
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.db
*.sqlite3

# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.*
.env.local
.env.production
backend/.env
frontend/.env

# IDE & OS
.DS_Store
.vscode/
.idea/

# Scratch & Temporary
scratch/
*.zip
test.html
test.pdf
